body {
  transition: 1s !important;
  color: white !important;
  background-color: rgb(34, 33, 33) !important;
}
.gradient {
  font-family: "Poppins", sans-serif;
  background-color: black;
  background-image: linear-gradient(120deg, #5fdee5 2.3%, #004bad 100%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.gradientButton {
  background-image: linear-gradient(120deg, #5fdee5 2.3%, #004bad 100%);
  border: none !important;
  border-radius: 20px !important;
  padding-left: 5vw !important;
  padding-right: 5vw !important;
}
.blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute !important;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(120deg, #5fdee5 2.3%, #004bad 100%);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(200px);
  overflow: hidden !important;
  z-index: -1;
}
input {
  background-color: rgb(36, 36, 36) !important;
  border: 2px solid !important;
  border-radius: 10px !important;
  padding: 12px;
  transition: 0.5s;
  color: white !important;
}
input:focus {
  border: green 5px solid !important;
}
.card-header {
  background-color: rgb(41, 41, 41) !important;
  color: white !important;
}
.card-body {
  background-color: rgb(10, 10, 10) !important;
  color: white !important;
}
.card {
  border-color: black !important
  ;
}
.offcanvas-body {
  background-color: rgb(15, 15, 15) !important;
  color: white !important;
}
.offcanvas-header {
  background-color: rgb(15, 15, 15) !important;
  color: white !important;
}
.btn-close {
  background-color: white !important;
  color: white !important;
}
.list-group-item {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
}
.toast-header {
  background-color: black !important;
  color: white !important;

}
.toast-body {
  background-color: rgb(40, 40, 40) !important;
  color: white !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.toast-container {
  transition: 0.5s !important;
}
  
